## Java ##

*.class
# *.jar
*.war
*.ear


## Windows ##

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


## Linux ##

*~


## OSX ##

.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon


._*
.Spotlight-V100
.Trashes


## Eclipse ##

*.pydevproject
.metadata
.gradle
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse